html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background-image: url("assets/levi-guzman-zdSoe8za6Hs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  color: white;
  font-size: 16px;

  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 4em;
}

.slogan2 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
}

.logo {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
}

.slogan {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 2.5em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 50px 50px;
  grid-auto-flow: row;
  grid-template-areas: "left right";
}

.ariton-logo {
  width: 75%;
  height: auto;
}

.right {
  padding-top: 8em;
}

.profile-image {
  min-width: 64px;
  width: 100%;
}

.profile-image-column {
  padding-right: 2em;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

table, tr, td {
  font-size: 1em;
}

@media (max-width: 600px) {
  body {
    padding: 2em;
  }

  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "left"
      "right";
  }

  .right {
    padding-top: 0;
  }
}

.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}

footer {
  display: none;
}
