html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background-image: url("assets/levi-guzman-zdSoe8za6Hs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-size: 16px;

  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 4em;
}

.slogan2 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
}

.logo {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
}

.slogan {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 2.5em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 50px 50px;
  grid-auto-flow: row;
  grid-template-areas: "left right";
}

.ariton-logo {
  width: 75%;
  height: auto;
}

.right {
  padding-top: 8em;
}

@media (max-width: 600px) {
  body {
    padding: 2em;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "left"
      "right";
  }

  .right {
    padding-top: 0;
  }
}

.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}

footer {
  display: none;
}
